*{
  margin: 0;
  padding: 0;
  font-family: 'Space Mono', monospace;
}

a{
  text-decoration: none;
  color: #fff
}

#root{
  overflow-x: hidden;
  transition: all 0.3s;
}

.App {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: #eee; */
  /* background-color: #1e1f20; */
  /* color: #24292f; */
}

.text {
  position: absolute;
  transform: translate(50%);
  pointer-events: none;
  width: 400px;
  text-align: center;
}

.theme_icon{
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: all 0.3s;
}

.theme_icon:hover{
  scale: 1.1
}

.skills_icon{
  width: 50px;
  height: 50px;
}

.menu_btn{
  width: 30px;
  height: 30px;
  display: none;
}

.close_btn{
  width: 30px;
  height: 30px;
}

.menu_active{
  transform: translate(0);
}

.menu_close{
  transform: translateY(-100%);
}

@media (max-width: 560px) {
  .skills_icon{
    width: 30px;
    height: 30px;
  }
  .menu_btn{
    display: block;
  }
}